<p style="color: green"><%= notice %></p>

<h1>Restaurants</h1>

<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <p>
      <%= link_to "Show this restaurant", restaurant, class: "btn btn-secondary" %>
    </p>
  <% end %>
</div>

<%= link_to "Top Restaurants", top_restaurants_path, class: "btn btn-warning" %>
<%= link_to "New restaurant", new_restaurant_path, class: "btn btn-warning" %>
